/* Empty. Add your own CSS if you like */

.buttons-right {
    text-align: right;
}

.scroll-bar-indicator {
    display: none;
}

.item-button {
	padding-right: 15px;
}

.dataTable {
	width: 100% !important; 
}

.right {
	text-align: right;
}